@model ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}


<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" style="height:650px;">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <h2>Change Password</h2>
                <form asp-controller="User" asp-action="ChangePassword" method="post">
                    <div>
                        <label asp-for="OldPassword">Old Password : </label>
                        <input asp-for="OldPassword" type="password" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="NewPassword">New Password : </label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword">Confirm Password : </label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    </div>
                    <input asp-for="UserId" value="@Model.UserId" type="hidden" />
                    <br />
                    <div>
                        <input type="submit" value="Change" class="btn" />
                    </div>
                </form>
                @if (ViewBag.Message != null)
                {
                    <span>@ViewBag.Message</span>
                }
            </div>

            <div class="row">
                    
            </div>
        </div>
        <div class="col-sm-2 sidenav" style="height:650px;">

        </div>
    </div>
</div>