@{
    ViewBag.Title = "Home";
}
<div>
    <div class="column prepend-1 span-24 first last">
        <h2>Welcome to Pixlr</h2>
        <p>
            On WackoPicko, you can share all your crazy pics with your friends. <br>
            But that's not all, you can also buy the rights to the high quality <br>
            version of someone's pictures. WackoPicko is fun for the whole family.
        </p>

        <h3>New Here?</h3>
        <p>
        </p><h4><a href="/users/register.php">Create an account</a></h4>
        <p></p>
        <p>
        </p><h4><a href="/users/sample.php?userid=1">Check out a sample user!</a></h4>
        <p></p>
        <p>
        </p><h4><a href="/calendar.php">What is going on today?</a></h4>
        <p></p>
        <p>
        </p>
        <!--<h4>Or you can test to see if WackoPicko can handle a file:</h4> <br>
        <form enctype="multipart/form-data" action="/piccheck.php" method="POST">
            Check this file: 
                <input name="userfile" type="file"><br />
            With this name: 
                <input name="name" type="text"> <br/> <br/>
                <input value="Send File" type="submit"><br>
        </form>-->
    </div>
</div>
