@{
    ViewBag.Title = "Home";
}

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" style="height:650px;">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <h3>"Sell & Buy Pics"</h3>
                <br />
            </div>

            <div class="row">
                <div>
                    <div class="column prepend-1 span-24 first last">
                        <h2>Welcome to PicShopper</h2>
                        <p>
                            On PicShopper, you can share all your crazy pics with your friends. <br>
                            But that's not all, you can also buy the rights to the high quality <br>
                            version of someone's pictures. PicShopper is fun for the whole family.
                        </p>

                        <h3>New Here?</h3>
                        <p>
                        </p><h4><a href="#">Create an account</a></h4>
                        <p></p>
                        <p>
                        </p><h4><a href="#">Check out a sample user!</a></h4>
                        <p></p>
                        <p>
                        </p><h4><a href="#">What is going on today?</a></h4>
                        <p></p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 sidenav" style="height:650px;">

        </div>
    </div>
</div>