@model AddUser
@{
    ViewBag.Title = "AddUser";
}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" style="height:650px;">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <h1>Add User</h1>
                <form asp-controller="Admin" asp-action="AddUser" method="post">
                    <div>
                        <label asp-for="FirstName">First Name : </label>
                        <input asp-for="FirstName" type="text" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="LastName">Last Name : </label>
                        <input asp-for="LastName" type="text" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="LoginName">Login Name : </label>
                        <input asp-for="LoginName" type="text" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="Dollors">Dollors : </label>
                        <input asp-for="Dollors" type="text" class="form-control" />
                    </div>
                    <br />
                    <div>
                        <input type="submit" value="Add" class="btn" />
                    </div>
                </form>
                @if (ViewBag.Message != null)
                {
                    <span>@ViewBag.Message</span>
                }
            </div>

            <div class="row">

            </div>
        </div>
        <div class="col-sm-2 sidenav" style="height:650px;">

        </div>
    </div>
</div>