@model Login
@{ 
    ViewBag.Title = "AdminLogin";
}
<h1>Admin Login</h1>
<div class="column prepend-1 span-23 first last">
    <form asp-controller="Admin" asp-action="Login" method="post">
        <div>
            <label asp-for="UserName">Username :</label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div>
            <label asp-for="Password">Password : </label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>
        <br />
        <div>
            <input type="submit" value="Login" class="btn" />
        </div>
    </form>
</div>