@model RecentViewModel

@{
    ViewBag.Title = "Recent";
}
<h1>"Recent Uploaded Pics"</h1>
    @foreach (var pic in Model.RecentFiles)
    {
        <div class="column prepend-1 span-21 first last" style="margin-bottom: 2em;">
            <ul class="thumbnail-pic-list">
                <li>
                    <a href="/PicView?picId=@pic.PicId"><img src="~/images/uploads/@pic.Name" height="128" width="128" /></a>
                </li>
            </ul>
        </div>

     }

