@model BuyItemViewModel
@{
    ViewBag.Title = "CheckOut";
}

<div class="row">
    <div class="col-md-8" style="background:#ff6a00">
        <script>var total = 0;</script>
        @foreach (var item in Model.BuyItems)
        {
            <div class="row" style="background:#808080">
                <label>@item.Name</label>
            </div>
            <div class="row" style="background:#808080">
                <label>@item.Price</label>
            </div>
            <script>total = total + (@item.Price * @item.Count);</script>
        }
        <script>alert(total);</script>
    </div>
    <div class="col-md-4">
        <div class="row" style="background:#808080">
            Test
        </div>
        <div class="row" style="background:#b6ff00">
            <form asp-controller="Pay" asp-action="Index" method="post">
                <input type="submit" value="Pay" />
            </form>
            <div id="amount"></div>
        </div>
    </div>
</div>
